@font-face {
  font-family: "poppins-thin";
  src: url(../Fonts/Poppins/Poppins-Thin.ttf);
}
@font-face {
  font-family: "poppins-extralight";
  src: url(../Fonts/Poppins/Poppins-ExtraLight.ttf);
}
@font-face {
  font-family: "poppins-light";
  src: url(../Fonts/Poppins/Poppins-Light.ttf);
}
@font-face {
  font-family: "poppins-regular";
  src: url(../Fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
  font-family: "poppins-medium";
  src: url(../Fonts/Poppins/Poppins-Medium.ttf);
}
@font-face {
  font-family: "poppins-semibold";
  src: url(../Fonts/Poppins/Poppins-SemiBold.ttf);
}
@font-face {
  font-family: "poppins-bold";
  src: url(../Fonts/Poppins/Poppins-Bold.ttf);
}
@font-face {
  font-family: "poppins-extrabold";
  src: url(../Fonts/Poppins/Poppins-ExtraBold.ttf);
}
@font-face {
  font-family: "poppins-black";
  src: url(../Fonts/Poppins/Poppins-Black.ttf);
}

@font-face {
  font-family: "rubik-medium";
  src: url(../Fonts/Rubik/Rubik-Medium.ttf);
  src: url(../Fonts/Rubik/Rubik-Medium.ttf);
}
@font-face {
  font-family: "rubik-bold";
  src: url(../Fonts/Rubik/Rubik-Bold.ttf);
}

.poppins-thin{
  font-family: "poppins-thin";
  font-weight: 100;
}
.poppins-extralight{
  font-family: "poppins-extralight";
  font-weight: 200;
}
.poppins-light{
  font-family: "poppins-light";
  font-weight: 300;
}
.poppins-normal{
  font-family: "poppins-regular";
  font-weight: 400;
}
.poppins-medium{
  font-family: "poppins-medium";
  font-weight: 500;
}
.poppins-semibold{
  font-family: "poppins-semibold";
  font-weight: 600;
}
.poppins-bold{
  font-family: "poppins-bold";
  font-weight: 700;
}
.poppins-extrabold{
  font-family: "poppins-extrabold";
  font-weight: 800;
}
.poppins-black{
  font-family: "poppins-black";
  font-weight: 900;
}

.rubik-medium{
  font-family: "rubik-medium";
  font-weight: 500;
}
.rubik-bold{
  font-family: "rubik-bold";
  font-weight: 700;
}
*{
  font-family: "poppins-regular";
}
.devolopment{
  background-image: url(../Image/home\ section-4\ bg.png) !important;
}
.devolopment__bg{
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0.65) 100%), rgba(0, 0, 0, 0.54);
  backdrop-filter: blur(2px);
}
@media screen and (min-width:1024px) {
  .card-design{
    grid-area: 2 / 2;
  }
  .card-3dmodel{
    grid-area: 2 / 3;
  }
}
.wrapper-bg{
  background: linear-gradient(152deg, #090300 0%, rgba(9, 3, 0, 0.00) 100%);
}